/*- - - - - COLOR PICKER - - - - -*/

.color_picker {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
}

.color_picker input {
    width: 100px;
    height: 40px;
    background: transparent;
    padding: 0;
    border: 0 20px 0 0;
    border-radius: 0;
    outline: none;
    font-size
}
