.PHASE {
    height: 100%;
    overflow: auto;
    padding: var(--width-shadow-main);
}

.choice_addWords input:checked + label {
    background: var(--h1) !important;
}

/*- - - - - ADD WORDS - - - - -*/

#flex_addWords {
    --max: 350px;
}
