.PHASE {
    height: 100%;
    overflow: auto;
    padding: var(--width-shadow-main);
}





/*- - - - - WELCOME MENU - - - - -*/

.fixed_welcomeMenu scroll {
    height: unset;
    max-height: 200px;
}





/*- - - - - ADD WORDS - - - - -*/

#flex_addWords {
    --max: 350px;
}

.choice_addWords input:checked + label {
    background: var(--h1) !important;
}
